{{#with paginate}}
<div class="paginate">
{{#with prev}}← <a href="{{link href}}">Previous</a>{{/with}}
<ol class="pages">
{{#each links}}
{{#if (ne @index ../current)}}
<li {{#if preserve}}class="preserve"{{/if}}>
  <a href="{{link href}}">{{name}}</a>
</li>
{{else}}
<li class="current">{{name}}</li>
{{/if}}
{{/each}}
</ol>
{{#with next}}<a href="{{link href}}">Next</a> →{{/with}}
</div>
{{/with}}
